{
  "curseforge_instance_path": "C:\\Users\\YourName\\curseforge\\minecraft\\Instances\\All the Mods 10",
  "world_name": "ATM10_Shared",
  "gas_url": "https://script.google.com/macros/s/XXXXXXXXXXXX/exec",
  "rclone_remote_name": "gdrive",
  "rclone_drive_folder_id": "1DEFxyz_your_folder_id_here",
  "rclone_exe_path": "./rclone/rclone.exe",
  "rclone_config_path": "./rclone.conf",
  "player_name": "MyPlayerName",
  "backup_generations": 5,
  "lock_timeout_hours": 8
}
